.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
section.section-hero {
  height: calc(100vh - var(--ifm-navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-start {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 4rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button.h-btn-start {
  background: #3d07c7;
  border: none;
  font-weight: bold;
  padding: 0px 2.5rem;
  border-radius: 31px;
  cursor: pointer;
  height: 100%;
}

.h-start-snippet {
  background: #ffffff14;
  border: none;
  padding: 0px 28px;
  border-radius: 31px;
  height: 100%;
  display: flex;
  align-items: center;
}

.h-start-snippet code {
  background: none;
  border: none;
}

.hero-glow-1 {
  position: absolute;
  height: 17rem;
  width: 17rem;
  background: #5b07c7;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  filter: blur(11rem);
}

.hero-glow-2 {
  position: absolute;
  height: 17rem;
  width: 17rem;
  background: #c40888;
  border-radius: 50%;
  right: 0;
  top: 0;
  filter: blur(11rem);
}
