.navbar {
  backdrop-filter: blur(1rem);
}
footer.footer.footer--dark {
  display: none;
}
footer.footer.footer--dark {
  display: none;
}

footer.footer-main svg {
  height: 1.3rem;
}

footer.footer-main {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
  padding: 1rem 0px;
}
.hero-title {
  font-size: 9rem;
  font-weight: bold;
  background: linear-gradient(95deg, #7100ff, #ff09b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer.footer-main a {
  font-weight: bold;
}

.hero-sub-title {
  font-size: 14pt;
  text-align: center;
  margin-top: -3rem;
  color: #ffffff9c;
  width: 29rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 922px) {
  .hero-title {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-title {
    font-size: 4rem;
  }

  .hero-sub-title {
    margin-top: -24px;
    width: 20rem;
  }
}
@media only screen and (max-width: 415px) {
  .hero-start {
    height: 3.5rem;
    gap: 0.5rem;
  }

  button.h-btn-start {
    padding: 0 1.8rem;
  }

  .h-start-snippet {
  }
}
.navbar-sidebar {
  height: 100vh;
  background: #242526;
}

.navbar-sidebar__brand {
  border-bottom: 1px solid #ffffff29;
}

.alert--warning {
  background-color: rgb(51 44 36) !important;
}

.alert-success {
  background-color: rgb(33 48 33) !important;
}
